.select {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}
  
.select:focus {
    outline: none;
    border-color: #4A5DCD;
    box-shadow: 0 0 8px 0 rgba(74, 93, 205, 0.5);
}
